* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.logo,
.blog {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #dcf10d;
}

.header {
  position: fixed;
  background: #192140;
  padding: 5px 50px;
  align-items: center;
  height: 50px;
  left: 0%;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  z-index: 1;
}

.content {
  display: grid;
  margin-top: 100px;
  margin-left: 0;
  grid-template-columns: repeat(auto-fill, minmax(320px, 350px));
  justify-content: center;
}

.main-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 16px;
  margin-left: 20%;
}

.box {
  position: relative;
  background-color: #ffffff;
  height: 350px;
  width: 320px;
  margin: 10px;
}

.close-button {
  position: absolute;
  top: 9px;
  right: 10px;
  color: transparent;
}

.close-button:hover {
  display: block;
  transition: transform 80ms ease-in-out;
  transform: scale(1.2);
  color: #9d9db5;
}

.close-button:active {
  color: #0266ff;
}

img {
  width: 320px;
  height: 250px;
}

.thumbnail-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  flex-shrink: 1;
  bottom: 50px;
  padding: 10px;
  height: auto;
  width: 300px;
  background-color: #f8f9fc;
}
.thumbnail-content .card-title {
  display: block;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px 40px 20px 10px;
}
.thumbnail-content .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #9d9db5;
  margin: 0px 10px;
  padding-top: 15px;
}
.thumbnail-content .card-date {
  border: 1px solid #9d9db5;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
}

.sign-up-login {
  gap: 3px;
  display: flex;
  width: 180px;
  height: 37px;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  justify-content: space-around;
  margin-right: 10%;
}

.sign-up-btn {
  background-color: transparent;
  color: #9d9db5;
  border: 1px solid #9d9db5;
  padding: 0px 15px;
  border-radius: 20px;
  width: 80px;
}

.sign-up-btn:hover {
  color: #0266ff;
  border: 1px solid #0266ff;
}

.sign-up-btn:active {
  background-color: #0266ff;
  color: #ffffff;
}

.login-btn {
  background-color: transparent;
  color: #9d9db5;
  border: 1px solid #9d9db5;
  padding: 0px 15px;
  border-radius: 20px;
  width: 80px;
}

.login-btn:hover {
  color: #0266ff;
  border: 1px solid #0266ff;
}

.login-btn:active {
  background-color: #0266ff;
  color: #ffffff;
}

.heartBtn {
  color: #9d9db5;
}

.heartBtn:hover {
  color: #0266ff;
}

.heartBtn:active {
  transition: transform 40ms ease-in-out;
  transform: scale(1.5);
}

.blue-heart {
  color: #0266ff;
}

.footer {
  background: #10131c;
  color: #ffffff;
  height: 300px;
  font-size: 16px;
}
.footer .footer-first-row,
.footer .footer-second-row {
  justify-content: space-between;
  display: flex;
  justify-items: center;
  padding: 60px 80px 20px 80px;
}
.footer .footer-first-row .row-content,
.footer .footer-second-row .row-content {
  display: flex;
  font-size: 12px;
  font-weight: 100;
  gap: 20px;
  padding-top: 20px;
}
.footer .footer-first-row .policy,
.footer .footer-second-row .policy {
  padding-top: 40px;
}/*# sourceMappingURL=main.css.map */