@use "./scss/variables";
@import "./scss/mixins";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.logo,
.blog {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: variables.$logo_color;
}
.header {
  position: fixed;
  background: variables.$header_color;
  padding: 5px 50px;
  align-items: center;
  height: 50px;
  left: 0%;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  color: variables.$background_color;
  z-index: 1;
}

.content {
  display: grid;
  margin-top: 100px;
  margin-left: 0;
  grid-template-columns: repeat(auto-fill, minmax(320px, 350px));
  justify-content: center;
}
.main-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 16px;
  margin-left: 20%;
}
.box {
  position: relative;
  background-color: variables.$background_color; // to change
  height: 350px;
  width: 320px;
  margin: 10px;
}
.read-icon {
  display: none;
}
.box:hover {
  .read-icon {
    display: block;
    opacity: 70%;
  }
}
.close-button {
  position: absolute;
  top: 9px;
  right: 10px;
  color: transparent;
}

.close-button:hover {
  display: block;
  transition: transform 80ms ease-in-out;
  transform: scale(1.2);
  color: variables.$button_color;
}
.close-button:active {
  color: variables.$secondary_color;
  transform: scale(1.2);
  transition: transform 80ms ease-in-out;
}
img {
  width: 320px;
  height: 250px;
}
.thumbnail-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  flex-shrink: 1;
  bottom: 50px;
  padding: 10px;
  width: 300px;
  background-color: variables.$card_color;

  .card-title {
    display: block;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 40px 20px 10px;
  }
  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid variables.$button_color;
    margin: 0px 10px;
    padding-top: 15px;
  }
  .card-date {
    border: 1px solid variables.$button_color;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
  }
}

.sign-up-login {
  gap: 3px;
  display: flex;
  width: 180px;
  height: 37px;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  justify-content: space-around;
}

.sign-up-btn {
  @include normalButton(1px solid variables.$button_color);
  @include buttonParam;
}

.sign-up-btn:hover {
  @include hoverButton(1px solid variables.$secondary_color);
}
.sign-up-btn:active {
  @include activeButton;
}
.login-btn {
  @include normalButton(1px solid variables.$button_color);
  @include buttonParam;
}
.login-btn:hover {
  @include hoverButton(1px solid variables.$secondary_color);
}
.login-btn:active {
  @include activeButton;
}
.heartBtn {
  color: variables.$button_color;
}
.heartBtn:hover {
  color: variables.$secondary_color;
}
.heartBtn:active {
  transition: transform 40ms ease-in-out;
  transform: scale(1.5);
}
.blue {
  color: variables.$secondary_color;
}
.footer {
  background: variables.$footer_color;
  color: variables.$background_color;
  height: auto;
  font-size: 16px;

  .footer-first-row,
  .footer-second-row {
    justify-content: space-between;
    display: flex;
    justify-items: center;
    padding: 60px 80px 20px 80px;
    .row-content {
      display: flex;
      font-size: 12px;
      font-weight: 100;
      gap: 20px;
      padding-top: 20px;
    }
    .policy {
      padding-top: 40px;
    }
  }
}
.burger {
  display: none;
}

@media only screen and (max-width: 1020px) {
  .footer-first-row,
  .footer-second-row {
    flex-direction: column;
    gap: 20px;
  }
  .row-content {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 900px) {
  .main-menu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up-login {
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: variables.$background_color;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-135deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(135deg);
  }
}
