@use "./scss/variables";
@import "./scss/mixins";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.logo,
.blog {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: variables.$logo_color;
}
.header {
  position: fixed;
  background: variables.$header_color;
  padding: 5px 50px;
  align-items: center;
  height: 50px;
  left: 0%;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  color: variables.$background_color;
  z-index: 1;
}

.content {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 350px));
  justify-content: center;
}
.main-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 16px;
  margin-left: 20%;
}
.box {
  background-color: variables.$background_color; // to change
  height: 350px;
  width: 320px;
  margin: 40px;
}
img {
  width: 320px;
  height: 250px;
}
.thumbnail-content {
  position: relative;
  bottom: 80px;
  padding: 10px;
  height: 150px;
  width: 300px;
  background-color: white;
  margin: 10pxl;
  .card-title {
    display: block;
    border-bottom: 1px solid variables.$button_color;
    padding-bottom: 5px;
  }
  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-date {
    border: 1px solid variables.$button_color;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
  }
}

.sign-up-login {
  gap: 3px;
  display: flex;
  width: 180px;
  height: 37px;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  justify-content: space-around;
  margin-right: 10%;
}

.sign-up-btn {
  @include normalButton(1px solid variables.$button_color);
  @include buttonParam;
}

.sign-up-btn:hover {
  @include hoverButton(1px solid variables.$secondary_color);
}
.sign-up-btn:active {
  @include activeButton;
}
.login-btn {
  @include normalButton(1px solid variables.$button_color);
  @include buttonParam;
}
.login-btn:hover {
  @include hoverButton(1px solid variables.$secondary_color);
}
.login-btn:active {
  @include activeButton;
}
.fa-heart {
  color: variables.$button_color;
}
.fa-heart:hover {
  color: variables.$secondary_color;
}
.blue-heart {
  color: variables.$secondary_color;
}
.footer {
  background: variables.$footer_color;
  color: variables.$background_color;
  height: 300px;
  font-size: 16px;

  .footer-first-row,
  .footer-second-row {
    justify-content: space-between;
    display: flex;
    justify-items: center;
    padding: 60px 80px 20px 80px;
    .row-content {
      display: flex;
      font-size: 12px;
      font-weight: 100;
      gap: 20px;
      padding-top: 20px;
    }
    .policy {
      padding-top: 40px;
    }
  }
}
