@use "./scss/variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.logo,
.blog {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: variables.$logo_color;
}
.header {
  position: fixed;
  background: variables.$header_color;
  padding: 5px 50px;
  align-items: center;
  height: 50px;
  left: 0%;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  color: variables.$background_color;
}

.content {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 350px));
  justify-content: center;
}
.main-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20%;
}
.box {
  border: 1px solid black;
  background-color: variables.$background_color; // to change
  height: 350px;
  width: 320px;
  margin: 40px;
}

.sign-up-login {
  display: flex;
  width: 140px;
  height: 37px;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  justify-content: space-around;
  margin-right: 10%;
}

.sign-up-btn {
  background-color: transparent;
  color: #9d9db5;
  border: none;
}

.login-btn {
  background-color: transparent;
  color: variables.$secondary_color;
  border: 1px solid variables.$secondary_color;
  padding: 0px 15px;
  border-radius: 20px;
}

.footer {
  background: variables.$footer_color;
  color: variables.$background_color;
  height: 300px;
  font-size: 16px;

  .footer-first-row,
  .footer-second-row {
    justify-content: space-between;
    display: flex;
    justify-items: center;
    padding: 60px 80px 20px 80px;
    .row-content {
      display: flex;
      font-size: 12px;
      font-weight: 400;
      gap: 20px;
      padding-top: 20px;
    }
    .policy {
      padding-top: 40px;
    }
  }
}
